# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build output
build/
dist/

# Egg info
*.egg-info/

# Test output
test/doka/out/

# C# / .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates
.vs/
*.DotSettings.user
packages/
*.nupkg
project.lock.json

# Publish output
publish/

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Rider / JetBrains
.idea/
*.sln.iml

# OS
Thumbs.db
Desktop.ini
.DS_Store
